.Layout {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(#340707, #1b0606 20%, #090404);
  &__body {
    display: flex;
    width: 100%;
    height: calc(100vh - 96px);
    &__content {
      width: 100%;
      overflow-y: auto;
      height: 100%;
      position: relative;
    }
  }
}
